.para1{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.linkStyle_2{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 color: #388EBF;
 text-decoration: none; 
 /* 1 1 0 #00F900 #388EBF #919191 */
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.linkStyle_2:visited{color:#388EBF; text-decoration:none;}
.linkStyle_2:hover{color:#919191; text-decoration:none;}
.Style5{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 color: #1284BA;
 background-color: #FEFFFF; 
 word-wrap: break-word;}
.Style6{font-family:  'Monaco' ,'Courier New' ,monospace ;
 font-size: 14px; 
 color: #535353;
 word-wrap: break-word;}
.para7{font-size: 0; text-align:left; padding-bottom:0px; padding-top:7px;}
.Style8{font-family:  'Monaco' ,'Courier New' ,monospace ;
 font-size: 14px; 
 color: #3B91D0;
 word-wrap: break-word;}
.linkStyle_9{font-family:  'Monaco' ,'Courier New' ,monospace ;
 font-size: 14px; 
 color: #2D7AA5;
 text-decoration: none; 
 /* 1 1 0 #919191 #388EBF #919191 */
 word-wrap: break-word;}
.linkStyle_9:visited{color:#388EBF; text-decoration:none;}
.linkStyle_9:hover{color:#919191; text-decoration:none;}
.para12{font-size: 0; text-align:right; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style13{font-family:  'HelveticaNeue-UltraLight', 'Helvetica Neue' ,'Arial' ,sans-serif ;
 font-size: 49px; 
 font-weight:200; 
 color: #1AB5FF;
 word-wrap: break-word;}
.Style14{font-family:  'HelveticaNeue-UltraLight', 'Helvetica Neue' ,'Arial' ,sans-serif ;
 font-size: 49px; 
 font-weight:200; 
 color: #FEFFFF;
 word-wrap: break-word;}
.para15{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style16{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 word-wrap: break-word;}
.para17{font-size: 0; text-align:left; padding-bottom:4px; margin-top:0px; padding-top:0px;}
.Style18{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 margin:0;
 word-wrap: break-word;}
.Style19{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 color: #388EBF;
 word-wrap: break-word;}
.Style20{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 text-decoration: underline;
 color: #EC877B;
 word-wrap: break-word;}
.linkStyle_21{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #388EBF;
 text-decoration: none; 
 /* 1 1 0 #919191 #388EBF #919191 */
 word-wrap: break-word;}
.linkStyle_21:visited{color:#388EBF; text-decoration:none;}
.linkStyle_21:hover{color:#919191; text-decoration:none;}
.Style24{font-family:  'Helvetica' ,sans-serif ;
 font-size: 14px; 
 text-decoration: underline;
 color: #EC867B;
 word-wrap: break-word;}
.linkStyle_25{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 color: #388EBF;
 text-decoration: none; 
 /* 1 1 0 #919191 #388EBF #919191 */
 word-wrap: break-word;}
.linkStyle_25:visited{color:#388EBF; text-decoration:none;}
.linkStyle_25:hover{color:#919191; text-decoration:none;}
.para28{font-size: 0; text-align:left; padding-bottom:14px; margin-top:0px; padding-top:0px;}
.linkStyle_29{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 color: #388EBF;
 text-decoration: none; 
 /* 1 1 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_29:visited{color:#388EBF; text-decoration:none;}
.linkStyle_29:hover{color:#919191; text-decoration:none;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}